@page "/ChatRoom"
@using Microsoft.AspNetCore.SignalR.Client
@using Chat.Bot.UI.Model
@inject NavigationManager Navigation
@inject HttpClient _httpClient
@using System.Text.Json
@using System.Web
@using System.Text.Json.Serialization
@using System.Net.Http.Headers;
@inject Config config
@inject ILocalStorageService _localStorage
@implements IAsyncDisposable
@inject IHttpClientFactory ClientFactory

<div class="form-group">
    <label>
        Chat Group:
        <select for="Room" class="form-control" @onchange="LoadMessages">
            <option value="default">--select--</option>
            @foreach (var room in rooms)
            {
                <option value="@room.RoomId">
                    @room.RoomName
                </option>
            }
        </select>
    </label>
</div>

<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message.User.Name @message.Text at @message.DtInserted</li>
    }
</ul>

@code {
    private HubConnection? hubConnection;
    private List<Message> messages = new List<Message>();
    private IEnumerable<Room> rooms = Array.Empty<Room>();
    private Room room = new Room();
    private User user = new User();
    private Message message = new Message();
    private string messageInput = string.Empty;
    private int messagesQty = 50;
    private string token = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        token = await _localStorage.GetItemAsync<string>("authToken");
        user = await _localStorage.GetItemAsync<User>("user");

        await LoadRooms();
        await CreateHubConnection();
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private async Task CreateHubConnection()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(config.GetBaseUrl() + "/Chat", options =>
            {
                options.AccessTokenProvider = () => Task.FromResult(token);
                options.Transports = Microsoft.AspNetCore.Http.Connections.HttpTransportType.WebSockets;
                options.SkipNegotiation = true;
            })
            .Build();

        hubConnection.On<Message>("Message", (messageReceived) =>
        {
            var encodedMsg = $"{messageReceived.User.Name}: {messageReceived.Text} at {messageReceived.DtInserted}";
            messages.Add(messageReceived);
            QuantityMessagesAllowed();

            messageInput = string.Empty;

            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    private void QuantityMessagesAllowed()
    {
        if (messages.Count > messagesQty)
        {
            messages.RemoveAt(0);
        }
    }

    private async Task LoadMessages(ChangeEventArgs e)
    {
        if (e.Value != null)
        {
            if (e.Value.ToString() != "default")
            {
                var roomId = new Guid(e.Value.ToString());
                room = rooms.First(f => f.RoomId == roomId);

                var builder = new UriBuilder(config.GetBaseUrl() + "/chat/GetLastMessages");
                var query = HttpUtility.ParseQueryString(builder.Query);
                query["messageQty"] = messagesQty.ToString();
                query["roomId"] = roomId.ToString();
                builder.Query = query.ToString();

                var response = await _httpClient.GetAsync(builder.ToString());

                if (response.IsSuccessStatusCode)
                {
                    using var responseStream = await response.Content.ReadAsStreamAsync();
                    var messagesReceived = await JsonSerializer.DeserializeAsync<IEnumerable<Message>>(responseStream);
                    messages = messagesReceived.OrderBy(o => o.DtInserted).ToList();
                }
            }
            else
                messages = new List<Message>();
        }
    }

    private async Task LoadRooms()
    {
        var request = new HttpRequestMessage(HttpMethod.Get, config.GetBaseUrl() + "/Room/GetAllRoom");
        Console.WriteLine(token);
        Console.WriteLine(config.GetBaseUrl() + "/Room/GetAllRoom");

        var client = ClientFactory.CreateClient();

        client.DefaultRequestHeaders.Add("Accept", "*/*");
        client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", token);

        var response = await client.GetAsync(config.GetBaseUrl() + "/Room/GetAllRoom");
        if (response.IsSuccessStatusCode)
        { 
            using var responseStream = await response.Content.ReadAsStreamAsync();
            rooms = await JsonSerializer.DeserializeAsync<IEnumerable<Room>>(responseStream);
        }
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            user.ConnectionId = string.Empty;
            var message = new Message();
            message.Text = messageInput;
            message.User = user;
            message.RoomId = room.RoomId;
            message.DtInserted = DateTime.Now;

            await hubConnection.SendAsync("SendMessage", message);
        }
    }
}